body {
    margin: 0;
    font-family: Montserrat, sans-serif;
}
  
.background {
  background-image: url('../img/background/landingPage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 45em;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

/* Retangulo Countdown */
.info-rectangle {
    background-color: rgba(1, 48, 31, 0.6);
    color: #F9F6EE;
    text-align: center;
    padding: 7em 7em 3em;
    border-radius: 10px;
    width: 60%;
    position: relative; 
}

.info-rectangle h1 {
  font-size: 3rem;
  margin-top: -1.5em;
  margin-bottom: 10px;
}

.info-rectangle h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

.info-rectangle p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Botão */
.apply-button {
  background-color: #F9F6EE;
  color: #01301F;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #00C782 ;
  color: #F9F6EE;
}

/* Contador */
#countdown {
    position: absolute;
    left: 50%; 
    margin-top: 20em;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background-color: #F9F6EE;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 30%;
}

.countdown-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.number {
  display: flex;
  align-items: baseline;
  font-size: 2rem;
  font-weight: bold;
  color: #01301F;
}

.label {
  margin-top: 10px; 
  font-size: 1rem;
  color: #01301F;
  text-align: center;
}

/* Secção About */
.about-section{
  color: #01301F;
  text-align: left;
  padding: 50px 20px;
}

.about-section h1{
    font-size: 2rem;
}

.about-section h3{
   font-size: 1em;
}

.video-section{
  padding: 50px 20px;
  color: #F9F6EE;
}

.video-section h1 {
    text-align: left;
    font-size: 2rem;
}

.video-section h3 {
  padding-left: 10px;
  font-size: 1em;
  text-align: left;
  margin-bottom: 50px;
}
.video-background {
  background-image: url('../img/background/video_bck.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Secção ComoFunciona */
.howto-section{
  color: #01301F;
  text-align: left;
  padding: 0px 20px;
}

.howto-section h1{
  font-size: 2rem;
}

.howto-section h3{
  margin-left: 10px;
  font-size: 1em;
}
  
.steps-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  gap: 20px;
}

.step {
  text-align: center;
  border-radius: 10px;
  width: 22%; 
  transition: transform 0.75s ease, box-shadow 0.75s ease;
}

.step img {
  width: 80%;
  border-radius: 10px;
}

.step h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #01301F;
}

.step:hover {
  transform: scale(1.05);
  padding: 0.5em;
  transition: transform 0.75s ease; 
  box-shadow: 0 10px 20px rgba(1, 48, 31, 0.2); 
}
  
/* footer */
.footer-section {
  background-image: url(../img/background/footer_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #F9F6EE;
  text-align: center;
  padding: 1em 0;
}

.footer-coming-soon{
  padding: 2em;
  background-image: none!important;
  background-color: rgba(0, 19, 12, 0.9)!important;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.three-columns {
  margin-top: -1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;;
  text-align: left;
}

.logo-column, .contact-column, .icons-column {
  flex: 1;
  min-width: 300px;
}

.logo-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  max-width: 150px;
}

.contact-column {
  text-align: center;
}

.footer-contact-info p {
  margin: 5px 0;
}

.footer-contact-info a {
  color: #F9F6EE;
  text-decoration: none;
}

.footer-contact-info a:hover {
  text-decoration: underline;
}

.icons-column {
  text-align: center;
}

.social-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links li {
  display: inline-block;
}

.social-links a {
  font-size: 1.8em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #00C782;
}

.footer-credits {
  font-size: 0.9em;
  margin-top: 20px;
  text-align: left;
}

.footer-credits a {
  color: #00C782;
  text-decoration: none;
}

.footer-credits a:hover {
  text-decoration: underline;
}